*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    font-size: 18px;
    word-wrap: break-word;
}

img, video, canvas, svg {
    max-width: 100%;
    height: auto;
}

@media (max-width: 480px) {
    body {
        font-size: 16px;
    }
    [style*="display: flex"] {
        flex-wrap: wrap;
    }
}
